@media only screen and (max-width: 425px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  #main .storyLine {
    height: 100%;
  }

  #main .purpose {
    height: 80vh;

    display: flex;
    flex-direction: column;
  }

  #main .purpose .field {
    width: 90%;
  }

  #main .purpose .field h4 {
    font-size: 20px;
  }

  #main .purpose .field p {
    font-size: 13px;
  }

  #main .awards {
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
  }

  #main .awards .textAwards {
    margin-top: 50px;
  }
}
