<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Seja Bem-vindo à Firgun.</p>
  <p>Só mais um passo para completar o seu cadastro.</p>
  <p>Clique no link abaixo para confirmar o seu email:</p>
  <p>
    <a href="{{link}}"> Confirmar meu email</a>
  </p>
  <p>
    Obrigado!<br>
    <strong>Equipe Firgun</strong>
  </p>
</div>
