<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .docs {
    font-weight: bold;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Seu próximo passo será responder o teste psicométrico</p>
  <p>
    <a href="{{link}}"> Clique aqui</a>
  </p>
  <p>
    Obrigado!<br>
    <strong>Equipe Firgun</strong>
  </p>
</div>
