<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .docs {
    font-weight: bold;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Você passou no teste psicométrico com score de <b>{{score}}</b></p>
  <p>O seu próximo passo será enviar os seguintes documentos:</p>
  <p class="docs">RG (Frente e Verso)</p>
  <p class="docs">Comprovante de CNPJ</p>
  <p class="docs">Comprovante residencial</p>
  <p class="docs">Comprovante de pagamento 1</p>
  <p class="docs">Comprovante de pagamento 2</p>
  <p class="docs">Comprovante de pagamento 3</p>
  <p class="docs">Comprovante do contrato de arrendamento</p>
  <p>
    <a href="{{link}}"> Clique aqui</a>
  </p>
  <p>
    Obrigado!<br>
    <strong>Equipe Firgun</strong>
  </p>
</div>
