<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Você não passou no teste psicométrico, teve um score de {{score}}</p>
  <p>Entrou para a lista de espera, por favor aguarde nosso contato.</p>
  <p>
    Obrigado!<br>
    <strong>Equipe Firgun</strong>
  </p>
</div>
